// 头部
$head_bgcolor:#394145;
$head_active_bgcolor:#2A3034;
$head_active_bdcolor:#15BAF3;
$head_active_color:#fff;
$head_hover_bgcolor:#2A3034;
$head_color:#fff;



//侧边栏
$side_bgcolor:#4C5460;
$side_hover_bgcolor:#48576a;
$side_color:#bfcbd9;
$side_active_color:#20a0ff;




